doctype html
html
	head
		title bathesis1
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
		meta(name='csrftoken' content='#{csrftoken}')
		meta(name='csrftokenheader' content='#{csrftokenheader}')
		meta(name='csrftokenparameter' content='#{csrftokenparameter}')
		script(src='/compressed/js/logging.js|ajax.js|loup-security.js|random.js|templator.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.0/highcharts.js')
		script(src='/compressed/js/libraries,vue.js')
		script(src='/compressed/js/libraries,vue-router.js')
		script(src='/compressed/js/bat1Session.js|bat1.js')
		link(rel="stylesheet" href='/compressed/css/basic.css'  media="screen" type="text/css")
		link(rel="stylesheet" href='/compressed/css/bat1.scss'  media="screen" type="text/css")
		script(src='/compressed/js/libraries,prefixfree.js')
	body(id='body')
		div(id='vueapp')
			div(class='menuButton' v-on:click='changeMenu()' v-bind:class="{inverseText : !menuVisible}")
				div
				div
				div
				div
				div
				div
			div(id='menu' v-bind:style="{top : '-' + menuTop + 'px'}")
				router-link(to='/input') input
				router-link(to='/display') display
				router-link(to='/analytics') analytics
				a(id='logoutButton' onclick='logout()' class='easyButton') logout
			router-view(class='router-view')
		div(id='templates' style='display:none;')
			div(id='input')
				div(id='input-container')
					div(id='data' method='post' enctype='multipart/form-data' onSubmit='upload(); return false;')
						div(class='text-input-container')
							label(for='date') date
							input(id='date' name='date' type='date' v-model='Date')
						div(class='text-input-container')
							label(for='goToBedTimeMinuteOfDay') Go To Bed Time
							input(id='goToBedTimeMinuteOfDay' name='goToBedTimeMinuteOfDay' type='number' v-model='dl.goToBedTimeMinuteOfDay')
						div(class='text-input-container')
							label(for='getUpTimeMinuteOfDay') Get Up Time
							input(id='getUpTimeMinuteOfDay' name='getUpTimeMinuteOfDay' type='number' v-model='dl.getUpTimeMinuteOfDay')
						div(class='text-input-container')
							label(for='sleepDuration') Sleep Duration
							input(id='sleepDuration' name='sleepDuration' type='number' v-model='dl.sleepDuration')
						div(class='text-input-container')
							label(for='deepSleep') Deep Sleep
							input(id='deepSleep' name='deepSleep' type='number' v-model='dl.deepSleep')
						div(class='text-input-container')
							label(for='remSleep') REM Sleep
							input(id='remSleep' name='remSleep' type='number' v-model='dl.remSleep')
						div(class='text-input-container')
							label(for='lightSleep') Light Sleep
							input(id='lightSleep' name='lightSleep' type='number' v-model='dl.lightSleep')
						div(class='text-input-container')
							label(for='wakeTime') Lying Awake Time
							input(id='wakeTime' name='wakeTime' type='number' v-model='dl.wakeTime')
						div(class='text-input-container')
							label(for='wakeups') Wakeups
							input(id='wakeups' name='wakeups' type='number' v-model='dl.wakeups')
						div(class='text-input-container')
							label(for='fallAsleepDuration') Fall Asleep Duration
							input(id='fallAsleepDuration' name='fallAsleepDuration' type='number' v-model='dl.fallAsleepDuration')
						div(class='text-input-container')
							label(for='temperatureSleep') Tmp. Before Sleep
							input(id='temperatureSleep' name='temperatureSleep' type='number' v-model='dl.temperatureSleep')
						div(class='text-input-container')
							label(for='humiditySleep') Humidity Before Sleep
							input(id='humiditySleep' name='humiditySleep' type='number' v-model='dl.humiditySleep')
						div(class='text-input-container')
							label(for='workDuration') Work Duration (min)
							input(id='workDuration' name='workDuration' type='number' v-model='dl.workDuration')
						div(class='text-input-container')
							label(for='workoutDuration') Workout Duration (min)
							input(id='workoutDuration' name='workoutDuration' type='number' v-model='dl.workoutDuration')
						div(class='text-input-container')
							label(for='sleepRatingT') sleep Rating (0-10)
							input(id='sleepRating' name='sleepRating' type='range' min='0' max='10' v-model='dl.sleepRating')
							input(id='sleepRatingT' name='sleepRatingT' type='number' v-model='dl.sleepRating')
						div(class='text-input-container')
							label(for='dayEnergyRatingT') Day Energy (0-10)
							input(id='dayEnergyRating' name='dayEnergyRating' type='range' min='0' max='10' v-model='dl.dayEnergyRating')
							input(id='dayEnergyRatingT' name='dayEnergyRating' type='number' min='0' v-model='dl.dayEnergyRating')
						div(class='text-input-container')
							label(for='stepCount') Step Count
							input(id='stepCount' name='stepCount' type='number' v-model='dl.stepCount')
						div(class='text-input-container')
							label(for='morningWeight') Morning Weight
							input(id='morningWeight' name='morningWeight' type='number' v-model='dl.morningWeight')
						div(class='text-input-container')
							label(for='eveningWeight') Evening Weight
							input(id='eveningWeight' name='eveningWeight' type='number' v-model='dl.eveningWeight')
						div(class='text-input-container')
							label(for='restingHeartBeat') Resting Heartbeat
							input(id='restingHeartBeat' name='restingHeartBeat' type='number' v-model='dl.restingHeartBeat')
						div(id='endButtons')
							div(id='save' class='easyButton' v-on:click='save') Save
							div(id='load' class='easyButton' v-on:click='load') Load
			div(id='display')
				div(id='x')
				div(id='y')
				div(id='z')
				div(id='t')
				stdv(url='/api/data/sleepDurations' name='Schlafdauer im Schlafzustand' unit=' Minuten')
				stdv(url='/api/data/sleepDurationsFull' name='Schlafdauer Voll' unit=' Minuten')
				stdv(url='/api/data/wakeTime' name='Dauer des wach Liegens' unit=' Minuten')
				stdv(url='/api/data/fallAsleepDurations' unit=' Minuten' name='Einschlafdauer')
				stdv(url='/api/data/weightLossNight' unit=' Kilogramm' name='Nächtliche Gewichtsabnahme')
			div(id='analytics')
				p hi -search