extends ./SecurityTemplate.jade

block head
	title bathesis1 login
	script(src='/compressed/js/bat1Session.js')
	script.
		rememberMeLogin();
block body
	form(onSubmit='login(); return false;' id='loginform')
		h1 Sleep Analysis Lab
		div(id='loginInputContainer')
			input(id='username' name='username' type='text' placeholder='Username')
			input(id='password' name='password' type='password' placeholder='Password')
			div
				label(for='rememberme') remember me
				input(id='rememberme' type='checkbox')
			button(type='submit') login