

#schlurpr-panel-container {
	display:flex;
	width:100%;
	min-height:100vh;
	background-color:#154360;
	flex-direction:row;
	flex-wrap:nowrap;
	
}
.schlurpr-panel {
	background-color:beige;
	flex:1;
	margin:5px;
	font-family:"monospace" !important;
}
.schlurpr-panel-textbox, textarea {
	width:100%;
	height:100%;
}
#schlurpr-files-panels-seperator {
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
}
#schlurpr-files {
	width:500px;
	background-color:green;
}