
#content {
	min-height:100vh;
	background-color:#F5F5F5;
	color:#130012;
}
#content-footer-flexer{
	display:flex;
	flex-direction:column;
}
#footer {

}

*{
	font-family: 'Raleway', sans-serif;
	font-size:20px;
}
