.galleryImage {
	margin:2px;
	padding:2px;
	background-color:gray;
	border-radius:2px;
}

@media (max-width: 450px) {
  .galleryImage {
		display:flex;
		justify-content:space-around;
		align-items:center;
		width:calc(100vw - 20px);
		flex-direction:column;
	}
}

.searchComponent-img {
	background-size:100%;

	background-position: center;
	background-color:white;
}

.searchComponent-pageSelectorContainer {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
}
.searchComponent-pageSelectorContainer > * {
	display:inline-block;
	padding:5px;
	margin-left:2px;
	margin-right:2px;
}
.searchComponent-pageSelectorContainer > div {
font-weight:bold;
}

.searchComponent-pageSelector {
	border: 1px black solid;
	padding:2px;
	text-decoration:none;
	min-width:24px;
	text-align: center;
	transition:background-color .2s, color .2s, border-color .2s;
}

.searchComponent-pageSelector:hover {
		background-color:black;
		color:white;
		border-color:white;
}

.searchComponent-pageSelector-active {
	background-color:black;
	color:white;
}

.searchComponent-pageSelector-active:hover {
	font-weight:bold;
}


.searchComponent-imgLinkBox {
	width:300px;
	height:300px;
	overflow: hidden;
	position: relative;
	cursor:pointer;
}

.searchComponent-img {
	position:absolute;
	width:100%;
	height:100%;
	background-size:contain;
	background-repeat:no-repeat;
	transition: transform .6s;
}

.searchComponent-img:hover{
	background-size:contain 140% !important;
	transition: transform 1.2s;
	transform: scale(2,2);
}
.searchComponent-displayedFilename {
	font-size:0.75em;
	font-weight:bold;
	color:white;
}

#galleryImageContainer {
	display:flex;
	flex-wrap:wrap;
}