input {
	border-radius: 0;
}
a {
	text-decoration:none;
}
input[type="text"], input[type='password'],input[type='search'] {
	padding:2px;
	padding-left:4px;
	padding-right:4px;
	border: 1px black solid;
}
#menubar {
	background-color:#878787;
	padding-top:2px;
	padding-bottom:2px;
}
#menubar-buttons {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:flex-start;
}
.menubar-easybutton {
	padding:5px;
	border:black 1px solid;
	background-color:white;
	margin:2px;
	cursor:pointer;
}
#login, #register {
	padding-left:2px;
}