.uploadComponent {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	padding:5px;
	width:calc(100% - 16px);
	border:3px solid white;
}
.uploadComponent > * {
	margin:5px;
}
.uploadComponent > *:nth-child(2) {
	display:flex;
	flex-direction:row;
	justify-content: space-around;
	width:300px;
	height:300px;
}
.uploadComponent-inputFlexerContainer {
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content: space-around;
}
.uploadComponent-inputFlexer {
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
}
.uploadComponent-inputFlexer > * {
	margin-bottom:5px;
}
.uploadComponent-labelInputFlexer > label{
	width:100px;
	display: inline-block;
}
.uploadComponent-labelInputFlexer > input{
	width:380px;
	max-width:calc(100vw - 14px);
}
.uploadComponent-fileSelector {
		max-width:calc(100vw - 14px);
}
.uploadComponent-imagePreview {
	max-width:100%;
	max-height:100%;
	align-self:center;
	border: none !important;
}
#uploadComponent-saveButtonContainer {
	display:flex;
	justify-content:space-around;
}
#uploadComponent-saveButton {
	padding:15px;
	font-size:20px;
	font-weight: bold;
	margin-top:10px;
	margin-bottom:10px;
}

.uploadComponent-errorMessage {
	color:red;
	font-weight:bold;
}