.tagLink {
	text-decoration: none;
}
.tagLink:not(:last-of-type):after {
	content: ",\00a0";
	color:black !important;
}
.tagLink:not(:last-of-type):after:visited {
	content: ",\00a0";
}
#view {
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
	min-height:100vh;
}
#image-wrapper {
	padding:8px;
}
#image {
	max-width:100%;
	height:auto;
	flex: none;
	display:inline;
}

.tagLine {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}

.infobox {
	border: 3px white solid;
	padding:5px;
}

#imageDetailArea{
	max-width:600px;
}

#tagLinkContainer{
display:flex;
flex-wrap:wrap;
}
.filename {
	word-break: break-all;
}