doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
		meta(name='csrftoken' content='#{csrftoken}')
		meta(name='csrftokenheader' content='#{csrftokenheader}')
		meta(name='csrftokenparameter' content='#{csrftokenparameter}')
		script(src='/compressed/js/logging.js|ajax.js|loup-security.js')
		block head
	body(id='body')
		block body