
#input{

}
#input-container {
	max-width:500px;
	margin-left:auto;
	margin-right:auto;
	display:flex;
}
#data {
	display:flex;
	flex-direction:column;
}
.text-input-container {
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:center;
	flex-wrap:wrap;
	justify-content:center;
}
.text-input-container > * {
	margin-top:5px;
	margin-bottom:5px;

}
.text-input-container > label {
	min-width:200px;
}
input[type='range'] ~ input[type='number'] {
	width:30px;
}

.easyButton {
	border:1px solid black;
	color:black;
	background-color:white;
	cursor:pointer;
	padding:4px;
	transition:color 0.6s, background-color 0.6s;
	border-radius:2px;
}
.easyButton:hover {
	color:white;
	background-color:#606060;
	transition:color 0.3s, background-color 0.3s;
}

#endButtons {
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
#save, #load {
	float:left;
}

input[type='date'], input[type='number'], input[type='text'], input[type='password'], input[type='search'], select, option {
	padding:3px;
	font-size:16px;
}

#myPieChart {
	width:100%;
	height:900px;
}


a {
	transition:color 1s;
	color:white;
	text-decoration: none;
}
#menu {
	width:100%;
	position:fixed;
	z-index:999;
	background-color:#581845;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	align-items:center;
}
#menu > * {
	padding:10px;
	transition:background-color .4s, color .4s;
}
#menu > *:hover {
	background-color:#FFC300;
	color:black;
}
#logoutButton {
}

@media screen and (max-width: 600px) {
	#menu {
		flex-direction:column;
	}
	#menu > * {
		align-self:stretch;
		text-align: center;
	}
}

$bar-height: 35px;
.menuButton {
	top:3px;
	right:0px;
	z-index:1000;
	position:fixed;
	background-color:transparent;
	height:$bar-height;
	min-width:calc(#{$bar-height} * 1.1 );
	cursor:pointer;
}
.menuButton > div{
	height:14.2857142857%;
	width:80%;
	margin-left:auto;
	margin-right:auto;
}
.menuButton > div:nth-child(2n) {
	background-color:white;
}
.menuButton:hover > div:nth-child(2n) {
	background-color:#FFC300;
}

.router-link-active {
	color:yellow;
}
.router-view > *:first-child {
	padding-top:100px;
}
.router-view > *:last-child {
	padding-bottom:50px;
}

.inverseText {
	mix-blend-mode: difference;
}


.stdv {
	width:752px;
}
.stdv-barcontainer {
	display:flex;
	flex-direction:row;
	height:200px;
}
.stdv-bar-outer {
	height:100%;
	width:1px;
	display:flex;
	flex-direction:row;
	border-top:black 1px solid;
	border-bottom:black 1px solid;
}
.stdv-bar-outer:first-child {
	border-left:black 1px solid;
}
.stdv-bar-outer:nth-last-child(2) {
	border-right:black 1px solid;
}
.stdv-bar-outer:hover {
	background-color:red !important;
}
.stdv-bar {
	width:1px;
	background-color:black;
	align-self:flex-end;
	background: linear-gradient(to bottom,  #21ff00 0%,#000000 100%);
}
.stdv-bar-outer:hover .stdv-bar {
	background-color:red !important;
	background:none;
}
.stdv-legend {
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	padding-top:2px;
}
.stdv-legend > p {
	font-size:0.75em;
}
