html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
		link(rel='stylesheet', href='/css/basic.css')
		block head
	body(id='body')
		block body