doctype html
html
	head
		title Example
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
		meta(name='csrftoken' content='#{csrftoken}')
		meta(name='csrftokenheader' content='#{csrftokenheader}')
		meta(name='csrftokenparameter' content='#{csrftokenparameter}')

		script(src='/compressed/js/logging.js')
		script(src='/compressed/js/ajax.js')
		script(src='/compressed/js/random.js')
		script(src='/compressed/js/libraries,vue.js')
		script(src='/compressed/js/libraries,vue-router.js')
		script(src='/compressed/js/libraries,vuex.js')
		script(src='/compressed/js/libraries,vuex-router-sync.js')
		script(src='/compressed/js/blogApplication.js')

		link(rel="stylesheet" href='/compressed/css/basic.css'  media="screen" type="text/css")
		link(rel="stylesheet" href='/compressed/css/css.scss'  media="screen" type="text/css")
	body(id='body')
		div(id='vueapp')