$light-hover:#76D7C4;
$default-padding:5px;

.router-link-active {
	color:yellow;
}
.just-white-text {
	color: yellow !important;
	background-color: transparent !important;
}

*[class^="ace"], *[class^="schlurp-panel_"] {
    transition:none;
}

.easyButton {
	border:1px solid black;
	color:black;
	background-color:white;
	cursor:pointer;
	padding:4px;
	padding-left:7px;
	padding-right:7px;
	transition:color 0.6s, background-color 0.6s;
	border-radius:2px;
	display:inline-block;
}
.easyButton:hover {
	color:black;
	background-color:$light-hover;
	transition:color 0.3s, background-color 0.3s;
}
.inline-block {
	display:inline-block;
}
a {
	transition:color 1s;
	color:white;
	text-decoration: none;
}
input {
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
}
#menu {
	width:100%;
	z-index:999;
	background-color:#1B4F72;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	align-items:center;
}
	#menu > * {
		padding:10px;
		transition:background-color .4s, color .4s;
	}
	#menu > .easyButton {
		padding:8px;
	}
	#menu > *:hover {
		background-color:#1ABC9C;
		color:black;
	}
	.login-line {
		background-color:#2874A6;
		padding-top:5px;
		padding-bottom:5px;
		padding-left:10px;
		padding-right:10px;
	}

#schlurpr-files-panels-seperator {
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	color:#154360;
	height:100vh;
}
	#schlurpr-files {
		width:300px;
		background-color:#1A5276;
		padding:2px;
		color:white;
	}
		#schlurpr-files-controls {
			display:flex;
			flex-direction:row;
			flex-wrap:nowrap;
		}
			#schlurpr-files-controls-addbutton {
				cursor:pointer;
				padding-left:$default-padding;
				padding-right:$default-padding;
				padding-top:2px;
			}
			#schlurpr-files-controls-addbutton:hover {
				background-color:$light-hover;
				color:black;
			}
			#schlurpr-files-controls-newfilename {
				flex:1;
				padding-left:$default-padding;
				padding-right:$default-padding;
			}
		
		#schlurpr-files-files {
		
		}
			.schlurpr-files-files-line {
				display:flex;
				flex-direction:row;
				flex-wrap:nowrap;
				justify-content:space-between;
				cursor:pointer;
			}
				.schlurpr-files-files-line-file {
					flex:1;
					padding-left:$default-padding;
					padding-right:$default-padding;
				}
				.schlurpr-files-files-line-file:hover {
					background-color:$light-hover;
					color:black;
				}
				.schlurpr-files-files-line-delete {
					padding-left:$default-padding;
					padding-right:$default-padding;
				}
				.schlurpr-files-files-line-delete:hover {
					background-color:$light-hover;
					color:black;
				}
	#schlurpr-panel-container {
		display:flex;
		width:100%;
		
		overflow:hidden;
		background-color:#154360;
		flex-direction:row;
		flex-wrap:nowrap;
		font-family:"monospace" !important;
	}
			.schlurpr-panel {
				background-color:beige;
				flex:1;
				margin-left:2px;
				margin-bottom:2px;
				margin-top:2px;
				display:flex;
				flex-direction:column;
				flex-wrap:none;
			}
			.schlurpr-panel:last-child {
				background-color:beige;
				flex:1;
				margin-right:2px;
			}
				.editor-header {
					display:flex;
					flex-direction:row;
					background-color:#154360;
					font-family:Verdana, Geneva, sans-serif;
				}
					.editor-header-button {
						padding:4px;
						cursor:pointer;
						background-color:#EBF5FB;
						border-radius:2px;
						display:box;
						margin-left:2px;
						margin-bottom:2px;
						border:1px black solid;
					}
					.editor-header-button:hover {
						background-color:$light-hover;
						border:1px white solid;
					}
					.editor-header-text {
						padding-top:5px;
						padding-left:2px;
						color:white;
					}
				.schlurpr-panel-textbox {
					height:100%;
				}