doctype html
html
	head
		title Schlurpr
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
		meta(name='csrftoken' content='#{csrftoken}')
		meta(name='csrftokenheader' content='#{csrftokenheader}')
		meta(name='csrftokenparameter' content='#{csrftokenparameter}')
		script(src='//cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ext-beautify.js')
		script(src='/compressed/js/schlurpApplication.js')
		link(rel="stylesheet" href='/compressed/css/basic.css'  media="screen" type="text/css")
		link(rel="stylesheet" href='/compressed/css/css.scss'  media="screen" type="text/css")
	body(id='body')
		div(id='vueapp')