doctype html
html
	head
		title FileManager
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
		meta(name='csrftoken' content='#{csrftoken}')
		meta(name='csrftokenheader' content='#{csrftokenheader}')

		script(src='/compressed/js/app.js')
		link(rel='stylesheet' href='/compressed/css/pure-min.css|fileManager.scss|gallery.scss|view.scss|menubar.scss|upload.scss|loup-pager.css' media='screen' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet')
	body
		div(id='vueapp')