html {
	font-family: Verdana, Geneva, sans-serif;
}
* {
	margin: 0px;
	padding: 0px;
	user-select: none;
	
}
html, body {
	width: 100%;
	height: 100%;
}
p, h1, h2, h3, h4, h5, textarea, input {
	user-select: text;
}