.pager-container {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	margin-left:auto;
	margin-right:auto;
}
.pager-container > * {
	display:inline-block;
	padding:5px;
	margin-left:2px;
	margin-right:2px;
}
.pager-container > div {
font-weight:bold;
}
.pager-link {
	border: 1px black solid;
	padding:2px;
	text-decoration:none;
	min-width:24px;
	text-align: center;
	transition:background-color .2s, color .2s, border-color .2s;
	cursor:pointer;
}
.pager-link:hover {
		background-color:black;
		color:white;
		border-color:white;
}
.pager-link-active {
	background-color:black;
	color:white;
}
.pager-link-active:hover {
	font-weight:bold;
}
.marginCenter {
	margin-left:auto;
	margin-right:auto;
}